
html, body {
    height: 100%;
}
html {
    overflow: hidden;
}
body {
    font-family:"微软雅黑";
    overflow: auto;
    width: calc(100vw + 20px);
}
.tophead{
    margin-left:1px;
    height:40px;
    background-color:#e7eaef;
    padding-left:20px;
}
.tophead img{
    margin-top: -5px;
}
.tophead p{
    height:20px;
    padding-top:10px;
    font-size:12px;
}
.tophead p span{
    margin-right:10px;
}
.main{
    margin-left:20px;
    margin-right:10px;
}
.panel{
    margin-top:20px;
    font-size:13px;
    background-color:#e7eaef;
}
.main p{
    margin:0 0 12px;
    font-weight:bold;
}
.main p button{
    float:right;
    margin-left:10px;
    margin-top:-5px;
    margin-right:2px;
    padding:3px 12px;
    border-radius:0;
    font-size:12px;
    border-color:rgb(103,133,255);
    background-color:rgb(103,133,255);
}
.main p button>img{
    width:20px;
}
.panel .panel-body .form-inline button{
    margin-left:5px;
    width:200px;
    border-radius:0;
    border-color:#5398fd;
    background-color:#5398fd;
}
.panel .panel-body .form-inline .form-group{
    margin-right:5px;
}
.modal .modal-body .form-inline .form-group{
    margin-top:10px;
}
.modal .modal-body>form{
    text-align:center;
}
input[type=file], p.help-block{
    display: inline-block;
    color:red;
}
.modal .modal-body form button{
    width:200px;
}
.panel .panel-body .form-inline .form-group>label, .modal .modal-body .form-inline .form-group>label{
    font-weight:initial;
    width:65px;
    text-align: right;
}
.modal .modal-body .form-inline .form-group>label{
    font-weight:initial;
    width:70px;
    text-align: right;
}

.panel .panel-body .well{
    background-color:white;
}

.main nav{
    text-align:center;
}
.modal .modal-header{
    padding:10px;
    font-size:16px;
    background-color:rgb(59,87,127);
    color:white;
}
.blue{
    background-color:#5398fd;
    color:white;
    border:none;
}
.dRight, .dRight2{ position:relative;right:0; -webkit-transition:right 0.6s; -moz-transition:right 0.6s; transition:right 0.6s;}
.dRight{
    z-index:201;
    width:88%;
    background-color:white;
    height:inherit;
    overflow:auto;
    position:fixed;
    right:-88%;
    top:0;
}
.dRight2{
    z-index:206;
    width:76%;
    background-color:white;
    height:inherit;
    overflow:auto;
    position:fixed;
    right:-76%;
    top:0;
}
.dRight .panel{
    margin-left:20px;
}
.menu-right{
    right:0px !important;
}
.hidebg, .hidebg2{
    position:absolute;left:0px;top:0px;
    background-color:#000;
    width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    filter:alpha(opacity=60);  /*设置透明度为60%*/
    opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
    display:none;
    z-Index:200;
}
.hidebg2{
    z-index:203;
}
.dRight .panel .panel-body .form-inline>.form-group>select{
    width:179px;
}
.p-head{
    margin:0 0 12px;
    font-weight:bold;
    color:#546172;
    font-size:12px;
}
.p-head >span{
    float:left;
    height:20px;
    border:2px solid #467bff;
    margin-left: -16px;
}
.p-head button{
    float:right;
    margin-left:10px;
    margin-top:-5px;
    margin-right:2px;
    padding:3px 12px;
    border-radius:0;
    font-size:12px;
    border-color:rgb(103,133,255);
    background-color:rgb(103,133,255);
}
.p-head button>img{
    width:20px;
}
.blue{
    padding: 3px 12px;
    border-radius: 0;
    font-size: 12px;
}
.embed-responsive.embed-responsive-16by9 {
    padding-bottom: none;
    height: 100%;
}