
#demo {
    background: #FFF;
    overflow:hidden;
    border: 1px dashed #CCC;
    height:860px;
    text-align: center;
    float: left;
}
#demo img {
    border: 3px solid #F2F2F2;
    display: block;
    width:100%;
}
