
.left{
    float:left;
    width:50%;
    padding-right:3px;
}
.right{
    float:right;
    width:50%;
    padding-left:3px;
}

.blue{
    padding: 3px 12px;
    border-radius: 0;
    font-size: 12px;
}

.tophead {
    margin-left: 1px;
    height: 40px;
    background-color: #e7eaef;
    padding-left: 20px;
}

.tophead p span {
    margin-right: 10px;
}

.tophead p {
    height: 20px;
    padding-top: 10px;
    font-size: 12px;
}